@model AdminUserProfileViewModel
<li class="nav-item dropdown dropdown-user-profile">
    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-toggle="dropdown">
        <div class="media user-box align-items-center">
            <div class="media-body user-info">
                <p class="user-name mb-0">@Model.Name</p>
                <p class="designattion mb-0">@Model.Role</p>
            </div>
            <img src="https://via.placeholder.com/110x110" class="user-img" alt="user avatar">
        </div>
    </a>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">
            <i class="bx bx-power-off"></i><span>Logout</span>
        </a>
    </div>
</li>