@using Electro.WebApplication.Components.MainContent.Products
<!-- Products-4-1-4 -->
<div class="products-group-4-1-4 space-1 bg-gray-7">
    <h2 class="sr-only">Products Grid</h2>
    <div class="container">
        @await Component.InvokeAsync(typeof(Nav))
        @await Component.InvokeAsync(typeof(Tabs))
    </div>
</div>
<!-- End Products-4-1-4 -->