<ul class="nav nav-pills mb-2 pt-3 pt-md-0 mb-0 border-top border-color-1 border-md-top-0 align-items-center font-size-15 font-size-15-md flex-nowrap flex-md-wrap overflow-auto overflow-md-visble">
    <li class="nav-item flex-shrink-0 flex-md-shrink-1">
        <a class="text-gray-90 btn btn-outline-primary border-width-2 rounded-pill py-1 px-4 font-size-15 text-lh-19 font-size-15-md" href="#">Top 20</a>
    </li>
    <li class="nav-item flex-shrink-0 flex-md-shrink-1">
        <a class="nav-link text-gray-8" href="#">Phones & Tablets</a>
    </li>
    <li class="nav-item flex-shrink-0 flex-md-shrink-1">
        <a class="nav-link text-gray-8" href="#">Laptops & Computers</a>
    </li>
    <li class="nav-item flex-shrink-0 flex-md-shrink-1">
        <a class="nav-link text-gray-8" href="#"> Video Cameras</a>
    </li>
</ul>