<!-- Account Sidebar Toggle Button -->
<a id="sidebarNavToggler" href="javascript:;" role="button" class="u-header-topbar__nav-link"
   aria-controls="sidebarContent"
   aria-haspopup="true"
   aria-expanded="false"
   data-unfold-event="click"
   data-unfold-hide-on-scroll="false"
   data-unfold-target="#sidebarContent"
   data-unfold-type="css-animation"
   data-unfold-animation-in="fadeInRight"
   data-unfold-animation-out="fadeOutRight"
   data-unfold-duration="500">
    <i class="ec ec-user mr-1"></i> Register <span class="text-gray-50">or</span> Sign in
</a>
<!-- End Account Sidebar Toggle Button -->