@model List<Category>
<!-- List Group -->
<ul class="list-group list-group-flush list-group-borderless mb-0 list-group-transparent">
    @foreach (var category in Model)
    {
        <li><a class="list-group-item list-group-item-action" href="@((category.Children != null ? category.Children.Count > 0 : false) ? $"/Catalog/{category.Id}" : $"/Catalog/{category.Id}/Products")">@category.Name</a></li>
    }
</ul>
<!-- End List Group -->