<!-- Nav Classic -->
<div class="position-relative text-center z-index-2 mb-3">
    <ul class="nav nav-classic nav-tab nav-tab-sm px-md-3 justify-content-start justify-content-lg-center flex-nowrap flex-lg-wrap overflow-auto overflow-lg-visble border-md-down-bottom-0 pb-1 pb-lg-0 mb-n1 mb-lg-0" id="pills-tab-1" role="tablist">
        <li class="nav-item flex-shrink-0 flex-lg-shrink-1">
            <a class="nav-link active " id="Tpills-one-example1-tab" data-toggle="pill" href="#Tpills-one-example1" role="tab" aria-controls="Tpills-one-example1" aria-selected="true">
                <div class="d-md-flex justify-content-md-center align-items-md-center">
                    Best Deals
                </div>
            </a>
        </li>
        <li class="nav-item flex-shrink-0 flex-lg-shrink-1">
            <a class="nav-link " id="Tpills-two-example1-tab" data-toggle="pill" href="#Tpills-two-example1" role="tab" aria-controls="Tpills-two-example1" aria-selected="false">
                <div class="d-md-flex justify-content-md-center align-items-md-center">
                    TV & Video
                </div>
            </a>
        </li>
        <li class="nav-item flex-shrink-0 flex-lg-shrink-1">
            <a class="nav-link " id="Tpills-three-example1-tab" data-toggle="pill" href="#Tpills-three-example1" role="tab" aria-controls="Tpills-three-example1" aria-selected="false">
                <div class="d-md-flex justify-content-md-center align-items-md-center">
                    Cameras
                </div>
            </a>
        </li>
        <li class="nav-item flex-shrink-0 flex-lg-shrink-1">
            <a class="nav-link " id="Tpills-four-example1-tab" data-toggle="pill" href="#Tpills-four-example1" role="tab" aria-controls="Tpills-four-example1" aria-selected="false">
                <div class="d-md-flex justify-content-md-center align-items-md-center">
                    Audio
                </div>
            </a>
        </li>
        <li class="nav-item flex-shrink-0 flex-lg-shrink-1">
            <a class="nav-link " id="Tpills-five-example1-tab" data-toggle="pill" href="#Tpills-five-example1" role="tab" aria-controls="Tpills-five-example1" aria-selected="false">
                <div class="d-md-flex justify-content-md-center align-items-md-center">
                    Smartphones
                </div>
            </a>
        </li>
        <li class="nav-item flex-shrink-0 flex-lg-shrink-1">
            <a class="nav-link " id="Tpills-six-example1-tab" data-toggle="pill" href="#Tpills-six-example1" role="tab" aria-controls="Tpills-six-example1" aria-selected="false">
                <div class="d-md-flex justify-content-md-center align-items-md-center">
                    GPS & Navi
                </div>
            </a>
        </li>
        <li class="nav-item flex-shrink-0 flex-lg-shrink-1">
            <a class="nav-link " id="Tpills-seven-example1-tab" data-toggle="pill" href="#Tpills-seven-example1" role="tab" aria-controls="Tpills-seven-example1" aria-selected="false">
                <div class="d-md-flex justify-content-md-center align-items-md-center">
                    Computers
                </div>
            </a>
        </li>
        <li class="nav-item flex-shrink-0 flex-lg-shrink-1">
            <a class="nav-link " id="Tpills-eight-example1-tab" data-toggle="pill" href="#Tpills-eight-example1" role="tab" aria-controls="Tpills-eight-example1" aria-selected="false">
                <div class="d-md-flex justify-content-md-center align-items-md-center">
                    Portable Audio
                </div>
            </a>
        </li>
        <li class="nav-item flex-shrink-0 flex-lg-shrink-1">
            <a class="nav-link " id="Tpills-nine-example1-tab" data-toggle="pill" href="#Tpills-nine-example1" role="tab" aria-controls="Tpills-nine-example1" aria-selected="false">
                <div class="d-md-flex justify-content-md-center align-items-md-center">
                    Accessories
                </div>
            </a>
        </li>
    </ul>
</div>
<!-- End Nav Classic -->