<!-- Account Sidebar Toggle Button -->
<a href="javascript:;" role="button" class="u-header-topbar__nav-link">
    <i class="ec ec-user mr-1"></i>
    <span>
        <a asp-area="" asp-controller="Account" asp-action="Register">Зарегистрироваться</a>
    </span>
    <span class="text-gray-50"> или </span>
    <span>
        <a asp-area="" asp-controller="Account" asp-action="Login">Войти</a>
    </span>
</a>
<!-- End Account Sidebar Toggle Button -->