<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("_MetatagsPartial")
    @await Html.PartialAsync("_TitlePartial")
    @await Html.PartialAsync("_IconPartial")
    @await Html.PartialAsync("_CssPartial")
    @if (IsSectionDefined("StylePage"))
    {
        @await RenderSectionAsync("StylePage");
    }

    <script src="~/js/pace.min.js"></script>
</head>
<body class="bg-theme bg-theme1">
    <div class="wrapper">
        @await Html.PartialAsync("_SidebarPartial")
        @await Html.PartialAsync("_HeaderPartial")
        @RenderBody()
        @await Html.PartialAsync("_OverlayPartial")
        @await Html.PartialAsync("_BackToTopButtonPartial")
        @await Html.PartialAsync("_FooterPartial")
    </div>
    @await Html.PartialAsync("_SwitcherWrapperPartial")
    @await Html.PartialAsync("_ScriptsPartial")
    @if (IsSectionDefined("ScriptPage"))
    {
        @await RenderSectionAsync("ScriptPage")
    }
    @if (IsSectionDefined("PerfectScrollbarInit"))
    {
        @await RenderSectionAsync("PerfectScrollbarInit")
    }
</body>
</html>