<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div class="">
            <img src="~/img/logos/favicon.png" class="logo-icon-2" alt="" />
        </div>
        <div>
            <h4 class="logo-text">Electro</h4>
        </div>
        <a href="javascript:;" class="toggle-btn ml-auto">
            <i class="bx bx-menu"></i>
        </a>
    </div>
    <ul class="metismenu" id="menu">
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <i class="bx bx-home-alt"></i>
                </div>
                <div class="menu-title">Панель администратора</div>
            </a>
            <ul>
                <li>
                    <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                        <i class="bx bx-right-arrow-alt"></i>Главная
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-label">
            База данных
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Categories" asp-action="Index">
                <div class="parent-icon">
                    <i class="bx bx-list-ul"></i>
                </div>
                <div class="menu-title">Категории</div>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Manufacturers" asp-action="Index">
                <div class="parent-icon">
                    <i class="bx bx-cog"></i>
                </div>
                <div class="menu-title">Производители</div>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Quantities" asp-action="Index">
                <div class="parent-icon">
                    <i class="bx bx-atom"></i>
                </div>
                <div class="menu-title">Величины</div>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Units" asp-action="Index">
                <div class="parent-icon">
                    <i class="bx bx-ruler"></i>
                </div>
                <div class="menu-title">Единицы измерения</div>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="SectionsCharacteristics" asp-action="Index">
                <div class="parent-icon">
                    <i class="bx bx-menu"></i>
                </div>
                <div class="menu-title">Разделы характеристик</div>
            </a>
        </li>
    </ul>
</div>