<!-- Deal -->
<div class="col-md-auto mb-6 mb-md-0">
    <div class="p-3 border border-width-2 border-primary borders-radius-20 bg-white min-width-370">
        <div class="d-flex justify-content-between align-items-center m-1 ml-2">
            <h3 class="font-size-22 mb-0 font-weight-normal text-lh-28 max-width-120">Special Offer</h3>
            <div class="d-flex align-items-center flex-column justify-content-center bg-primary rounded-pill height-75 width-75 text-lh-1">
                <span class="font-size-12">Save</span>
                <div class="font-size-20 font-weight-bold">$120</div>
            </div>
        </div>
        <div class="mb-4">
            <a href="../shop/single-product-fullwidth.html" class="d-block text-center"><img class="img-fluid" src="~/img/320X300/img1.jpg" alt="Image Description"></a>
        </div>
        <h5 class="mb-2 font-size-14 text-center mx-auto max-width-180 text-lh-18"><a href="../shop/single-product-fullwidth.html" class="text-blue font-weight-bold">Game Console Controller + USB 3.0 Cable</a></h5>
        <div class="d-flex align-items-center justify-content-center mb-3">
            <del class="font-size-18 mr-2 text-gray-2">$99,00</del>
            <ins class="font-size-30 text-red text-decoration-none">$79,00</ins>
        </div>
        <div class="mb-3 mx-2">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <span class="">Availavle: <strong>6</strong></span>
                <span class="">Already Sold: <strong>28</strong></span>
            </div>
            <div class="rounded-pill bg-gray-3 height-20 position-relative">
                <span class="position-absolute left-0 top-0 bottom-0 rounded-pill w-30 bg-primary"></span>
            </div>
        </div>
        <div class="mb-2">
            <h6 class="font-size-15 text-gray-2 text-center mb-3">Hurry Up! Offer ends in:</h6>
            <div class="js-countdown d-flex justify-content-center"
                 data-end-date="2020/11/30"
                 data-hours-format="%H"
                 data-minutes-format="%M"
                 data-seconds-format="%S">
                <div class="text-lh-1">
                    <div class="text-gray-2 font-size-30 bg-gray-4 py-2 px-2 rounded-sm mb-2">
                        <span class="js-cd-hours"></span>
                    </div>
                    <div class="text-gray-2 font-size-12 text-center">HOURS</div>
                </div>
                <div class="mx-1 pt-1 text-gray-2 font-size-24">:</div>
                <div class="text-lh-1">
                    <div class="text-gray-2 font-size-30 bg-gray-4 py-2 px-2 rounded-sm mb-2">
                        <span class="js-cd-minutes"></span>
                    </div>
                    <div class="text-gray-2 font-size-12 text-center">MINS</div>
                </div>
                <div class="mx-1 pt-1 text-gray-2 font-size-24">:</div>
                <div class="text-lh-1">
                    <div class="text-gray-2 font-size-30 bg-gray-4 py-2 px-2 rounded-sm mb-2">
                        <span class="js-cd-seconds"></span>
                    </div>
                    <div class="text-gray-2 font-size-12 text-center">SECS</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Deal -->