@using Electro.WebApplication.Components.Footer.TopWidget
<!-- Footer-top-widget -->
<div class="container d-none d-lg-block mb-3">
    <div class="row">
        @await Component.InvokeAsync(typeof(FeaturedProducts))
        @await Component.InvokeAsync(typeof(OnSaleProducts))
        @await Component.InvokeAsync(typeof(TopRatedProducts))
        <div class="col-wd-3 d-none d-wd-block">
            <a href="../shop/shop.html" class="d-block"><img class="img-fluid" src="~/img/330X360/img1.jpg" alt="Image Description"></a>
        </div>
    </div>
</div>
<!-- End Footer-top-widget -->