<!-- ========== HEADER ========== -->
<header id="header" class="u-header u-header-left-aligned-nav">
    <div class="u-header__section">
        @await Html.PartialAsync("_TopbarPartial")
        @await Html.PartialAsync("_LogoSearchHeaderIconsPartial")
        @await Html.PartialAsync("_VerticalAndSecondaryMenuPartial")
    </div>
</header>
<!-- ========== END HEADER ========== -->