<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("_TitlePartial")
    @await Html.PartialAsync("_MetatagsPartial")
    @await Html.PartialAsync("_IconPartial")
    @await Html.PartialAsync("_CssPartial")
    @if (IsSectionDefined("StylePage"))
    {
        @await RenderSectionAsync("StylePage")
    }
</head>
<body>
    @await Html.PartialAsync("_HeaderPartial")
    @RenderBody()
    @await Html.PartialAsync("_FooterPartial")
    @if (IsSectionDefined("SidebarNavigation")) 
    { 
        @await RenderSectionAsync("SidebarNavigation")
    }
    @await Html.PartialAsync("_GoToTopPartial")
    @await Html.PartialAsync("_ScriptsPartial")
    @if (IsSectionDefined("ScriptPage"))
    {
        @await RenderSectionAsync("ScriptPage")
    }
</body>
</html>