<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("TitlePartial")
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("IconPartial")
    @await Html.PartialAsync("CssPartial")
</head>
<body>
    @await Html.PartialAsync("Header/HeaderPartial.cshtml")
    @RenderBody()
    @await Html.PartialAsync("Footer/FooterPartial.cshtml")
    @await Html.PartialAsync("SecondaryContentsPartial")
    @await Html.PartialAsync("GoToTopPartial")
    @await Html.PartialAsync("ScriptsPartial")
    @if (IsSectionDefined("ScriptPage"))
    {
        @await RenderSectionAsync("ScriptPage")
    }
</body>
</html>