<div class="d-flex justify-content-between align-items-center border-bottom border-color-1 flex-lg-nowrap flex-wrap mb-4">
    <h3 class="section-title section-title__full mb-0 pb-2 font-size-22">Производители</h3>
</div>