<!-- Footer-newsletter -->
<div class="bg-primary py-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 mb-md-3 mb-lg-0">
                <div class="row align-items-center">
                    <div class="col-auto flex-horizontal-center">
                        <i class="ec ec-newsletter font-size-40"></i>
                        <h2 class="font-size-20 mb-0 ml-3">Подпишитесь на рассылку новостей</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <!-- Subscribe Form -->
                <form class="js-validate js-form-message">
                    <label class="sr-only" for="subscribeSrEmail">Адрес электронной почты</label>
                    <div class="input-group input-group-pill">
                        <input type="email" class="form-control border-0 height-40" name="email" id="subscribeSrEmail" placeholder="Адрес электронной почты" aria-label="Адрес электронной почты" aria-describedby="subscribeButton" required
                               data-msg="Пожалуйста, введите действительный адрес электронной почты.">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-dark btn-sm-wide height-40 py-2" id="subscribeButton">Подписаться</button>
                        </div>
                    </div>
                </form>
                <!-- End Subscribe Form -->
            </div>
        </div>
    </div>
</div>
<!-- End Footer-newsletter -->