<!-- Secondary Menu -->
<div class="col">
    <!-- Nav -->
    <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar u-header__navbar--no-space">
        <!-- Navigation -->
        <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
            <ul class="navbar-nav u-header__navbar-nav">
                <!-- Catalog -->
                <li class="nav-item u-header__nav-item">
                    <a class="nav-link u-header__nav-link" asp-area="" asp-controller="Catalog" asp-action="Index">Каталог</a>
                </li>
                <!-- End Catalog -->
                <!-- Shops -->
                <li class="nav-item u-header__nav-item">
                    <a class="nav-link u-header__nav-link" href="#">Магазины</a>
                </li>
                <!-- End Shops -->
                <!-- For Customers -->
                <li class="nav-item u-header__nav-item">
                    <a class="nav-link u-header__nav-link" href="#">Покупателям</a>
                </li>
                <!-- End For Customers -->
                <!-- News -->
                <li class="nav-item u-header__nav-item">
                    <a class="nav-link u-header__nav-link" href="#">Новости</a>
                </li>
                <!-- End News -->
                <!-- For Legal Entities -->
                <li class="nav-item u-header__nav-item">
                    <a class="nav-link u-header__nav-link" href="#">Юридическим лицам</a>
                </li>
                <!-- End For Legal Entities -->
            </ul>
        </div>
        <!-- End Navigation -->
    </nav>
    <!-- End Nav -->
</div>
<!-- End Secondary Menu -->