@model Pagination
<!-- Shop-control-bar Title -->
<div class="flex-center-between mb-3">
    <h3 class="font-size-25 mb-0">Товары</h3>
    <p class="font-size-14 text-gray-90 mb-0">@Model.GetFormattedStringRange()</p>
</div>
<!-- End shop-control-bar Title -->
