<!-- Vertical-and-secondary-menu -->
<div class="d-none d-xl-block container">
    <div class="row">
        @await Html.PartialAsync("_SecondaryMenuPartial")
    </div>
</div>
<!-- End Vertical-and-secondary-menu -->