<!-- Features Section -->
<div class="">
    @await Html.PartialAsync("~/Views/Home/MainContent/DealsAndTabs/Tabs/ProdcutFeaturesSectionNavClassicPartial.cshtml")
    @await Html.PartialAsync("~/Views/Home/MainContent/DealsAndTabs/Tabs/ProdcutFeaturesSectionTabContentPartial.cshtml")
</div>
<!-- End Features Section -->