<!-- Nav Classic -->
<div class="position-relative bg-white text-center z-index-2">
    <ul class="nav nav-classic nav-tab justify-content-center" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active " id="pills-one-example1-tab" data-toggle="pill" href="#pills-one-example1" role="tab" aria-controls="pills-one-example1" aria-selected="true">
                <div class="d-md-flex justify-content-md-center align-items-md-center">
                    Featured
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " id="pills-two-example1-tab" data-toggle="pill" href="#pills-two-example1" role="tab" aria-controls="pills-two-example1" aria-selected="false">
                <div class="d-md-flex justify-content-md-center align-items-md-center">
                    On Sale
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " id="pills-three-example1-tab" data-toggle="pill" href="#pills-three-example1" role="tab" aria-controls="pills-three-example1" aria-selected="false">
                <div class="d-md-flex justify-content-md-center align-items-md-center">
                    Top Rated
                </div>
            </a>
        </li>
    </ul>
</div>
<!-- End Nav Classic -->