<!-- ========== HEADER ========== -->
<header id="header" class="u-header u-header-left-aligned-nav">
    <div class="u-header__section">
        @await Html.PartialAsync("~/Views/Shared/Header/TopbarPartial.cshtml")
        @await Html.PartialAsync("~/Views/Shared/Header/LogoSearchHeaderIconsPartial.cshtml")
        @await Html.PartialAsync("~/Views/Shared/Header/VerticalAndSecondaryMenuPartial.cshtml")
    </div>
</header>
<!-- ========== END HEADER ========== -->