@model CatalogProductsViewModel
@{
    ViewData["Title"] = Model.Category.Name;
}
@section StylePage
{
    <style>
        a[data-product-action] {
            cursor: pointer;
        }

        a[data-product-favorite-state=true] {
            color: red !important;
        }

        a[data-product-favorite-state=false] {
            color: #5e5e5e !important;
        }

        a[data-product-compare-state=true] {
            color: lime !important;
        }

        a[data-product-compare-state=false] {
            color: #5e5e5e !important;
        }

        .mb-2 .image-container {
            overflow: hidden;
        }

            .mb-2 .image-container.h-120 {
                height: 120px !important;
            }

            .mb-2 .image-container.h-160 {
                height: 160px !important;
            }

            .mb-2 .image-container.h-200 {
                height: 200px !important;
            }

            .mb-2 .image-container .img-fluid {
                width: 100% !important;
                height: 100% !important;
                object-fit: contain !important;
            }
    </style>
}
<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
    <!-- breadcrumb -->
    <div class="bg-gray-13 bg-md-transparent">
        <div class="container">
            <!-- breadcrumb -->
            <div class="my-md-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-3 flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble">
                        <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a asp-area="" asp-controller="Home" asp-action="Index">Главная</a></li>
                        <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a asp-area="" asp-controller="Catalog" asp-action="Index">Каталог</a></li>
                        @await Component.InvokeAsync(typeof(CatalogBreadcrumb), Model.Category.ParentId)
                        <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1 active" aria-current="page">@Model.Category.Name</li>
                    </ol>
                </nav>
            </div>
            <!-- End breadcrumb -->
        </div>
    </div>
    <!-- End breadcrumb -->

    <div class="container">
        <div class="row mb-8">
            <div class="d-none d-xl-block col-xl-3 col-wd-2gdot5">
                @await Component.InvokeAsync(typeof(Filters), new { filters = Model, version = FilterVersion.Desktop })
            </div>
            <div class="col-xl-9 col-wd-9gdot5">
                @await Html.PartialAsync("_ShopTabPartial", Model)
            </div>
        </div>
    </div>
    @section SidebarNavigation
    {
        <!-- Sidebar Navigation -->
        <aside id="sidebarContent1" class="u-sidebar u-sidebar--left" aria-labelledby="sidebarNavToggler1">
            <div class="u-sidebar__scroller">
                <div class="u-sidebar__container">
                    <div class="">
                        <!-- Toggle Button -->
                        <div class="d-flex align-items-center pt-3 px-4 bg-white">
                            <button type="button" class="close ml-auto"
                                    aria-controls="sidebarContent1"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                    data-unfold-event="click"
                                    data-unfold-hide-on-scroll="false"
                                    data-unfold-target="#sidebarContent1"
                                    data-unfold-type="css-animation"
                                    data-unfold-animation-in="fadeInLeft"
                                    data-unfold-animation-out="fadeOutLeft"
                                    data-unfold-duration="500">
                                <span aria-hidden="true"><i class="ec ec-close-remove"></i></span>
                            </button>
                        </div>
                        <!-- End Toggle Button -->
                        <!-- Content -->
                        <div class="js-scrollbar u-sidebar__body">
                            <div class="u-sidebar__content u-header-sidebar__content px-4">
                                @await Component.InvokeAsync(typeof(Filters), new { filters = Model, version = FilterVersion.Mobile })
                            </div>
                        </div>
                        <!-- End Content -->
                    </div>
                </div>
            </div>
        </aside>
        <!-- End Sidebar Navigation -->
    }
</main>
<!-- ========== END MAIN CONTENT ========== -->
@section ScriptPage
{
    <script>
        $(window).on('load', function () {
            // initialization of HSMegaMenu component
            $('.js-mega-menu').HSMegaMenu({
                event: 'hover',
                direction: 'horizontal',
                pageContainer: $('.container'),
                breakpoint: 767.98,
                hideTimeOut: 0
            });
        });

        $(document).on('ready', function () {
            // initialization of header
            $.HSCore.components.HSHeader.init($('#header'));

            // initialization of animation
            $.HSCore.components.HSOnScrollAnimation.init('[data-animation]');

            // initialization of unfold component
            $.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
                afterOpen: function () {
                    $(this).find('input[type="search"]').focus();
                }
            });

            // initialization of HSScrollNav component
            $.HSCore.components.HSScrollNav.init($('.js-scroll-nav'), {
                duration: 700
            });

            // initialization of quantity counter
            $.HSCore.components.HSQantityCounter.init('.js-quantity');

            // initialization of popups
            $.HSCore.components.HSFancyBox.init('.js-fancybox');

            // initialization of countdowns
            var countdowns = $.HSCore.components.HSCountdown.init('.js-countdown', {
                yearsElSelector: '.js-cd-years',
                monthsElSelector: '.js-cd-months',
                daysElSelector: '.js-cd-days',
                hoursElSelector: '.js-cd-hours',
                minutesElSelector: '.js-cd-minutes',
                secondsElSelector: '.js-cd-seconds'
            });

            // initialization of malihu scrollbar
            $.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));

            // initialization of forms
            $.HSCore.components.HSFocusState.init();

            // initialization of form validation
            $.HSCore.components.HSValidation.init('.js-validate', {
                rules: {
                    confirmPassword: {
                        equalTo: '#signupPassword'
                    }
                }
            });

            // initialization of forms
            $.HSCore.components.HSRangeSlider.init('.js-range-slider');

            // initialization of show animations
            $.HSCore.components.HSShowAnimation.init('.js-animation-link');

            // initialization of fancybox
            $.HSCore.components.HSFancyBox.init('.js-fancybox');

            // initialization of slick carousel
            $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');

            // initialization of go to
            $.HSCore.components.HSGoTo.init('.js-go-to');

            // initialization of hamburgers
            $.HSCore.components.HSHamburgers.init('#hamburgerTrigger');

            // initialization of unfold component
            $.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
                beforeClose: function () {
                    $('#hamburgerTrigger').removeClass('is-active');
                },
                afterClose: function () {
                    $('#headerSidebarList .collapse.show').collapse('hide');
                }
            });

            $('#headerSidebarList [data-toggle="collapse"]').on('click', function (e) {
                e.preventDefault();

                var target = $(this).data('target');

                if ($(this).attr('aria-expanded') === "true") {
                    $(target).collapse('hide');
                } else {
                    $(target).collapse('show');
                }
            });

            // initialization of unfold component
            $.HSCore.components.HSUnfold.init($('[data-unfold-target]'));

            // initialization of select picker
            $.HSCore.components.HSSelectPicker.init('.js-select');

            initialization();
        });

        function initialization() {
            $('#link-show-page').on('click', function (e) {
                $('#input-hidden-desktop-number-page').val($('#input-number-number-page').val());

                sendFiltersData($('form[data-version-form="desktop"]'));
            });

            $('button[type="button"][data-version-form="desktop"]').on('click', function (e) {
                $('#input-hidden-desktop-number-page').val(1);

                sendFiltersData($('form[data-version-form="desktop"]'));
            });

            $('button[type="button"][data-version-form="mobile"]').on('click', function (e) {
                $('#input-hidden-mobile-number-page').val(1);

                sendFiltersData($('form[data-version-form="mobile"]'));
            });

            $('.page-link').each(function () {
                $(this).on('click', function (e) {
                    if (document.documentElement.scrollWidth >= 1200) {
                        $('#input-hidden-desktop-number-page').val($(this).attr('data-number-page'));

                        sendFiltersData($('form[data-version-form="desktop"]'));
                    }
                    else {
                        $('#input-hidden-mobile-number-page').val($(this).attr('data-number-page'));

                        sendFiltersData($('form[data-version-form="mobile"]'));
                    }
                });
            });
        }

        function sendFiltersData(formFilters) {
            $.ajax({
                url: '/Catalog/@Model.Category.Id.ToString()/Products',
                method: 'POST',
                data: $(formFilters).serialize(),
                success: function (data) {
                    $('.col-xl-9.col-wd-9gdot5').html();
                    $('.col-xl-9.col-wd-9gdot5').html(data);

                    initialization();
                    initializationProductItems();
                }
            });
        }
    </script>
}
