<div class="col-wd-3 col-lg-4">
    <div class="widget-column">
        <div class="border-bottom border-color-1 mb-5">
            <h3 class="section-title section-title__sm mb-0 pb-2 font-size-18">Featured Products</h3>
        </div>
        <ul class="list-unstyled products-group">
            <li class="product-item product-item__list row no-gutters mb-6 remove-divider">
                <div class="col-auto">
                    <a href="../shop/single-product-fullwidth.html" class="d-block width-75 text-center"><img class="img-fluid" src="~/img/75X75/img1.jpg" alt="Image Description"></a>
                </div>
                <div class="col pl-4 d-flex flex-column">
                    <h5 class="product-item__title mb-0"><a href="../shop/single-product-fullwidth.html" class="text-blue font-weight-bold">Purple Wireless Headphones Solo 2 HD</a></h5>
                    <div class="prodcut-price mt-auto">
                        <div class="font-size-15">$1149.00</div>
                    </div>
                </div>
            </li>
            <li class="product-item product-item__list row no-gutters mb-6 remove-divider">
                <div class="col-auto">
                    <a href="../shop/single-product-fullwidth.html" class="d-block width-75 text-center"><img class="img-fluid" src="~/img/75X75/img2.jpg" alt="Image Description"></a>
                </div>
                <div class="col pl-4 d-flex flex-column">
                    <h5 class="product-item__title mb-0"><a href="../shop/single-product-fullwidth.html" class="text-blue font-weight-bold">Powerbank 1130 mAh Blue</a></h5>
                    <div class="prodcut-price mt-auto">
                        <div class="font-size-15">$210.00</div>
                    </div>
                </div>
            </li>
            <li class="product-item product-item__list row no-gutters mb-6 remove-divider">
                <div class="col-auto">
                    <a href="../shop/single-product-fullwidth.html" class="d-block width-75 text-center"><img class="img-fluid" src="~/img/75X75/img3.jpg" alt="Image Description"></a>
                </div>
                <div class="col pl-4 d-flex flex-column">
                    <h5 class="product-item__title mb-0"><a href="../shop/single-product-fullwidth.html" class="text-blue font-weight-bold">Nerocool EN52377 Dead Silence Gaming Cube Case</a></h5>
                    <div class="prodcut-price mt-auto">
                        <div class="font-size-15">$180.00</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>